<div> Hola Mundo </div>

<div>
  <p>JeloOOooous</p>
</div>

<div>
  {{title}}
</div>

<div>
  <h2>La suma de 2 + 2 es {{2+2}}</h2>
  <h3>El doble numero de 3 es {{dobleNumero(3)}}</h3>
</div>

<div>
  <hr>
  <h2>Nombre: {{alumno.nombre}}</h2>
  <h2>Edad: {{alumno.edad}}</h2>
  <h2>Curso: {{alumno.curso}}</h2>
  <h2>Fecha: {{alumno.fechaInscrito | date}}</h2>
  <h2>Pago: {{alumno.pago}}</h2>
 <hr>
</div>

<div class="container">
  <div class="row">
    <app-product-list></app-product-list>
  </div>
</div>

